@page "/admin/dashboard"
@layout AdminAuthLayout

<section class="admin-body px-3 px-md-5 my-3">
    <div class="top-container row mb-5">
        <div class="title-box col d-flex align-items-center">
            <h1 class="title">Admin Dashboard</h1>
        </div>
        <div class="left-box col d-flex justify-content-end">
            <img src="./css/images/Admin-amico.png" alt="Customer Support" class="support-img">
        </div>
    </div>
    <div class="lower-container">
        <div class="right-box row gap-5">
            <div class="stat-card col my-4 d-flex flex-column align-items-center justify-content-between">
                <h4 class="card-title">Users</h4>
                <h3 class="stats-number">300, 000</h3>
                <div class="btn-box w-100 d-flex justify-content-end">
                    <a class="btn-goto" href="/admin/user">Go to Users</a>
                </div>
            </div>

            <div class="stat-card col my-4 d-flex flex-column align-items-center justify-content-between">
                <h4 class="card-title">All Books</h4>
                <h3 class="stats-number">150, 000</h3>
                <div class="btn-box w-100 d-flex justify-content-end">
                    <a class="btn-goto" href="/admin/books">Go to Books</a>
                </div>
            </div>

            <div class="stat-card col my-4 d-flex flex-column align-items-center justify-content-between">
                <h4 class="card-title">All Orders</h4>
                <h3 class="stats-number">150, 000</h3>
                <div class="btn-box w-100 d-flex justify-content-end">
                    <a class="btn-goto" href="/admin/orders">Go to Orders</a>
                </div>
            </div>
        </div>
    </div>
</section>