@inject NavigationManager NavManager

<nav class="main-nav d-flex align-items-center px-3 px-md-5 py-3">
    <h3 class="nav-logo me-auto">4JS</h3>
    <button class="nav-btn" @onclick="OnClickLogin">Admin</button>
</nav>

@code {
    private void OnClickLogin()
    {
        NavManager.NavigateTo("/admin/login");
    }
}